@import '../../vars.tsx';

.embed-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 5px 0;

    &.embed-my {
        flex-flow: row-reverse nowrap;

        .embed-holder {
            justify-content: flex-end;

            .embed-item {
                flex-flow: row-reverse nowrap;

                .embed-info {
                    text-align: right;
                }
            }
        }
    }

    .embed-holder {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        .embed-item {
            display: flex;
            flex-flow: row nowrap;
            max-width: 30vw;
            font-size: 16px;

            @media (max-width: $screen-md) {
                max-width: 60vw;
            }

            @media (max-width: $screen-sm) {
                font-size: 15px;
            }

            @media (max-width: $screen-xs) {
                max-width: 90vw;
            }

            & .embed-info {
                padding: 5px 10px;
            }

            & a {
                color: #666;
            }

            & .embed-thumb {
                position: relative;
                width: 200px;
                min-width: 200px;
                height: 200px;
                overflow: hidden;

                &.small {
                    width: 100px;
                    min-width: 100px;
                    height: 100px;
                }

                .embed-photo {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    height: 100%;
                    width: auto;
                    transform: translate(-50%, -50%);

                    &.portrait {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            & .embed-video {
                width: 100%;
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: center;

                iframe {
                    max-width: 100%;
                }
            }
        }
    }
}
