<html>
<head>
	<link rel="stylesheet" href="/static/root.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="Wrapper" class="container"></div>
<script id="applicationData" type="application/json"><%- JSON.stringify(applicationData) %></script>
<script src="/static/index.js"></script>
</body>
</html>
