<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chat</title>
	<link rel="stylesheet" href="/static/root.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500|PT+Serif:400italic|PT+Sans:400' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="Wrapper" class="container"></div>
<script id="applicationData" type="application/json"><%- JSON.stringify(applicationData) %></script>
<script src="/static/index.js"></script>
</body>
</html>
