@import '../main/vars';

.authButton {
    -webkit-flex: 1 0 25%;
    flex: 1 0 25%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 50%;
    cursor: pointer;
    max-width: 200px;

    @media (max-width: $screen-sm) {
        max-width: 100%;
    }

    &:not(:last-child) {
        margin-right: 5px;

        @media (max-width: $screen-sm) {
            margin-bottom: 5px;
            margin-right: 0;
        }
    }

    &.fb {
        background-color: #3b5998;
        background-image: url('/static/images/fb.svg');
    }

    &.vk {
        background-color: #45668e;
        background-image: url('/static/images/vk.svg');
        background-size: auto 40%;
    }

    &.tw {
        background-color: #00aced;
        background-image: url('/static/images/tw.svg');
    }

    &.gg {
        background-color: #dd4b39;
        background-image: url('/static/images/gg.svg');
    }

    &:hover {
        z-index: 100;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    }
}
