@import 'vars.scss';

#fakedBody {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

#Wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: $wrapper-default;

    @media (max-width: $screen-md) {
        max-width: $wrapper-md;
    }

    @media (max-width: $screen-sm) {
        max-width: $wrapper-sm;
    }

    @media (max-width: $screen-xs) {
        max-width: $wrapper-xs;
        padding: $wrapper-xs-padding;
    }
}
