@import 'vars.scss';


#Wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: $wrapper-default;
    box-sizing: border-box;
}

@media (max-width: $screen-md) {
    #Wrapper {
        max-width: $wrapper-md;
    }
}

@media (max-width: $screen-sm) {
    #Wrapper {
        max-width: $wrapper-sm;
    }
}

@media (max-width: $screen-xs) {
    #Wrapper {
        max-width: $wrapper-xs;
    }
}
