@import 'vars.scss';


#Wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: $wrapper-default;
}

@media (max-width: $screen-md) {
    #Wrapper {
        max-width: $wrapper-md;
    }
}

@media (max-width: $screen-sm) {
    #Wrapper {
        max-width: $wrapper-sm;
    }
}

@media (max-width: $screen-xs) {
    #Wrapper {
        max-width: $wrapper-xs;
        padding: $wrapper-xs-padding;
    }
}
