@import '../../vars.tsx';

.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .modal {
        width: 75%;
        margin: 100px auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        outline: 0;
        box-shadow: 0 3px 9px rgba(0,0,0,.5);

        @media (max-width: $screen-xs) {
            width: 90%;
            margin: 50px auto;
        }

        .modal-header {
            position: relative;
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;

            h4 {
                margin: 0;
                line-height: 25px;
            }

            .modal-closer {
                position: absolute;
                right: 20px;
                top: 10px;
                cursor: pointer;
                color: rgba(0,0,0,0.3);
                font-size: 35px;

                &:hover {
                    color: rgba(0,0,0,0.8);
                }
            }
        }

        .modal-body {
            position: relative;
            padding: 15px;
        }
    }
}

.modal-shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

