@import '../main/vars.scss';

.chat-holder {
    padding-bottom: 80px;

    @media (max-width: $screen-md) {
        margin-top: 43px;
    }

    .messages-holder {
        list-style: none;
        padding: 0;
        margin: 0;

        /* see messages.scss */
    }

    .typing-holder {
        display: inline-block;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        background-color: rgba(150,150,0,0.2);
        padding: 5px;
        font-size: smaller;
    }

    .send-message-holder {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        .send-message-subholder {
            margin: 0 auto;
            display: table;
            max-width: $wrapper-default;

            @media (max-width: $screen-md) {
                max-width: $wrapper-md;
            }

            @media (max-width: $screen-sm) {
                max-width: $wrapper-sm;
            }

            @media (max-width: $screen-xs) {
                max-width: $wrapper-xs;
                padding: $wrapper-xs-padding;
            }

            & > div {
                display: table-row;

                & > div:nth-child(1) {
                    display: table-cell;
                    width: 90%;
                    vertical-align: bottom;
                }

                & > div:nth-child(2) {
                    display: table-cell;
                    min-width: 100px;
                    vertical-align: bottom;
                    text-align: right;
                    padding-bottom: 10px;
                }
            }
        }
    }
}
