.message-embed-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    background-color: rgba(180,230,40,0.1);
    margin: 5px 0;

    .message-my & {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        background-color: rgba(0,0,0,0.1);
    }

    .message-embed-item {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;

        & > * {
            padding: 5px;
            font-size: smaller;

        }

        & .message-embed-info {
            padding: 5px 10px;
        }


        // todo: fix sizes
        & .message-embed-thumb {
            max-width: 100px;
            max-height: 100px;
        }

        & .message-embed-photo {
            max-width: 200px;
            max-height: 200px;
        }

        & .message-embed-video {
            width: 100%;

            iframe {
                max-width: 100%;
            }
        }
    }
}
