@import '../main/vars.scss';

.message {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    // todo: remove this line
    /*border: 1px dashed red;*/

    &:not(:first-child) {
        margin-top: 5px;
    }

    &.message-my {
        -webkit-flex-flow: row-reverse nowrap;
        flex-flow: row-reverse nowrap;
    }
}

.message-corner {
    z-index: 1;
    position: relative;
    top: 25px;
    right: -10px;
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background-color: white;
    -webkit-transform: perspective(71px) rotate(45deg);
    -webkit-transform-origin: 100% 50% 0px;
    -ms-transform-origin: 100% 50% 0px;
    transform: perspective(71px) rotate(45deg);
    transform-origin: 100% 50% 0px;

    .message-my & {
        right: 15px;
        background-color: #6bba6b;
    }

    .message-system &, .message-system-critical & {
        display: none;
    }
}

.message-text {
    z-index: 2;
    display: inline-block;
    max-width: 30vw;
    padding: 15px;
    border-radius: 5px;
    color: #666;
    font-size: 18px;
    line-height: 23px;
    background-color: white;
    text-align: left;

    @media (max-width: $screen-md) {
        max-width: 60vw;
    }

    @media (max-width: $screen-xs) {
        max-width: 90vw;
    }

    .message-my & {
        background-color: #6bba6b;
        color: white;
        text-align: right;
    }

    .message-system &, .message-system-critical & {
        max-width: 100%;
        width: 100%;
        padding: 0 10px;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
        font-weight: 700;
    }

    .message-system & {
        background-color: rgba(255, 184, 0, 0.13);
    }

    .message-system-critical & {
        background-color: rgba(255, 0, 0, 0.1);
    }
}

.message-info-wrapper {
    position: absolute;
    left: -20px;
    top: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    text-align: right;

    .message-info {
        position: absolute;
        right: 0;
        max-width: 140px;

        .message-info-author, .message-info-at {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .message-info-author {
            font-weight: 700;
        }
    }

    .message-system &, .message-system-critical & {
        display: none;
    }

    .message-my & {
        left: auto;
        right: -20px;
        text-align: left;

        .message-info {
            right: auto;
            left: 0;
        }
    }
}
