@import '../main/vars.scss';

.message {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;

    @media (max-width: $screen-md) {
        flex-flow: column nowrap;
    }

    &:not(:first-child) {
        margin-top: 5px;
    }

    &.message-my {
        -webkit-flex-flow: row-reverse nowrap;
        flex-flow: row-reverse nowrap;

        @media (max-width: $screen-md) {
            flex-flow: column nowrap;
            align-items: flex-end;
        }
    }
}

.message-corner {
    z-index: 1;
    position: relative;
    top: 25px;
    right: -10px;
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background-color: white;
    -webkit-transform: perspective(71px) rotate(45deg);
    -webkit-transform-origin: 100% 50% 0px;
    -ms-transform-origin: 100% 50% 0px;
    transform: perspective(71px) rotate(45deg);
    transform-origin: 100% 50% 0px;

    @media (max-width: $screen-md) {
        position: absolute;
        width: 10px;
        height: 10px;
        right: auto;
        left: 24px;
        top: 35px;
    }

    .message-my & {
        right: 15px;
        background-color: #6bba6b;

        @media (max-width: $screen-md) {
            left: auto;
            right: 24px;
        }
    }

    .message-system &, .message-system-warning &, .message-system-critical & {
        display: none;
    }
}

.message-text {
    z-index: 2;
    display: inline-block;
    max-width: 30vw;
    padding: 10px 15px;
    border-radius: 5px;
    color: #666;
    font-size: 18px;
    line-height: 23px;
    background-color: white;
    text-align: left;
    align-self: flex-end;
    box-sizing: border-box;

    @media (max-width: $screen-md) {
        max-width: 60vw;
        align-self: flex-start;
        margin-top: 5px;
        padding: 10px;
    }

    @media (max-width: $screen-xs) {
        max-width: 90vw;
        padding: 5px 10px;
    }

    .message-my & {
        background-color: #6bba6b;
        color: white;
        text-align: right;

        @media (max-width: $screen-md) {
            align-self: flex-end;
        }
    }

    .message-system &, .message-system-warning &, .message-system-critical & {
        max-width: 100%;
        width: 100%;
        padding: 0 10px;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
        font-weight: 700;
    }

    .message-system & {
        background-color: rgba(0, 0, 0, 0.03);
    }

    .message-system-warning & {
        background-color: rgba(255, 184, 0, 0.13);
    }

    .message-system-critical & {
        background-color: rgba(255, 0, 0, 0.1);
    }
}

.message-info-wrapper {
    position: absolute;
    left: -20px;
    top: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    text-align: right;

    @media (max-width: $screen-md) {
        left: auto;
        text-align: left;
    }

    .message-info {
        position: absolute;
        right: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;


        @media (max-width: $screen-md) {
            position: relative;
            right: auto;
            left: 37px;
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
        }

        .message-info-author {
            max-width: 140px;
            font-weight: 700;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @media (max-width: $screen-md) {
                overflow: visible;
            }
        }

        .message-info-at {
            white-space: nowrap;

            @media (max-width: $screen-md) {
                margin-left: 10px;
            }
        }
    }

    .message-system &, .message-system-warning &, .message-system-critical & {
        display: none;
    }

    .message-my & {
        left: auto;
        right: -20px;
        text-align: left;

        @media (max-width: $screen-md) {
            right: 35px;
        }

        .message-info {
            right: auto;
            left: 0;

            @media (max-width: $screen-md) {
                -webkit-flex-flow: row-reverse nowrap;
                flex-flow: row-reverse nowrap;
            }

            .message-info-at {
                @media (max-width: $screen-md) {
                    margin-left: auto;
                    margin-right: 10px;
                }
            }
        }
    }
}
