.message {
    margin-top: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px 10px 10px 0;
    position: relative;
    padding: 5px 5px 5px 60px;
    min-height: 40px;
    max-width: 80%;
    box-sizing: border-box;

    &.message-system {
        background-color: rgba(150,150,0,0.2);
    }

    &.message-system-critical {
        background-color: rgba(255,0,0,0.3);
    }

    &.message-my {
        padding: 5px 60px 5px 5px;
        margin-left: auto;
        background-color: rgba(0,0,255,0.1);
        text-align: right;
        border-radius: 10px 10px 0 10px;

        & > .message-avatar {
            margin-right: 0;
            margin-left: 10px;
            left: auto;
            right: 5px;
        }
    }

    .message-avatar {
        margin-right: 10px;
        position: absolute;
        left: 5px;
        top: 5px;
    }

    .message-author {
        font-size: smaller;
        font-weight: bolder;
    }

    .message-author-provider {
        font-size: smaller;
        color: silver;

        &:before {
            content: "(";
        }

        &:after {
            content: ")";
        }
    }
}
