@import '../../vars.tsx';

.authHolder {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow-x: hidden;

    .authWelcome {
        display: flex;
        height: 25vh;
        min-height: 120px;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;

        @media (max-width: $screen-sm) {
            margin-top: 0;
        }

        h2, h1 {
            text-align: center;
            font-weight: 400;
            margin: 0;
        }

        h2 {
            color: #999;
            font-size: 28px;
            font-family: 'PT Sans', sans-serif;
        }

        h1 {
            font-size: 48px;
            font-family: 'PT Serif', serif;
            font-style: italic;

            @media (max-width: $screen-sm) {
                font-size: 44px;
            }
        }
    }

    .authButtonsHolder {
        display: flex;
        flex-flow: row nowrap;
        height: 200px;
        min-height: 200px;
        justify-content: center;

        @media (max-width: $screen-sm) {
            flex-flow: column nowrap;
            height: 60vh;
        }

        /* see authButton.scss */
    }
}
